<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AppEngine_C2DM_Test</servlet-name>
		<servlet-class>com.rickardp.appengine.test.c2dm.AppEngine_C2DM_TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppEngine_C2DM_Test</servlet-name>
		<url-pattern>/appengine_c2dm_test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAuthFromGoogle</servlet-name>
		<servlet-class>com.rickardp.appengine.test.c2dm.GetAuthFromGoogle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAuthFromGoogle</servlet-name>
		<url-pattern>/getauthfromgoogle</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
